#all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  min-width:706px ;
}

#subtitle {
  font-size: 30px;
  color: #32dac8;
}

#button-gerarqr {
  margin-top: 5%;
  width: 300px;
  height: 80px;
  font-size: 30px;
  background-color: white;
  cursor: pointer;
}

#title-qrcode {
  margin-bottom: 10%;
  font-size: 70px;
}

#qrcode {
  background-image: url(../../img/image\ 31.png);
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  margin-top: 10%;
}

@media screen and (max-width: 800px) {
  #all{
    width: 100px;
    min-width: 100px;
    margin-left: 50px;
  }
  #button-gerarqr {
    width: 150px;
    height: 50px;
    font-size: 20px
  }
  #all img{
    width: 250px;

  }
  #subtitle{
    width: 250px;
    overflow-wrap: break-word;
  }

}