* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.fundo{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-image: url(./img/Fundo.svg);
}

.container{
  width: auto;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}