#main {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#logo {
  position: absolute;
  background-image: url(../../img/Logo_1.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 400px;
  left: 60%;
  top: 3%;
}

#main-titulo {
  font-size: 70px;
  height: 100px;
  width: 800px;
  text-align: left;
}

#teste {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 800px;
  border: 5px solid #000000;
  border-radius: 15px;
}

#ladoA {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 height: 400px;
}

#ladoB {
  display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 height: 400px;
}

.emoji-main {
  width: 260px;
  height: 50px;
}

.emoji-title {
  margin-top: 5%;
  margin-left: 30%;
}

#create-category {
  background-image: url(../../img/boxes-solid\ 1.png);
  background-repeat: no-repeat;
}

#edit-category {
  background-image: url(../../img/pencil-alt-solid\ 2.png);
  background-repeat: no-repeat;
}

#remove-category {
  background-image: url(../../img/trash-alt-solid\ 2.png);
  background-repeat: no-repeat;
}

#add-itens {
  background-image: url(../../img/plus-solid\ 1.png);
  background-repeat: no-repeat;
}

#edit-itens {
  background-image: url(../../img/pencil-alt-solid\ 2.png);
  background-repeat: no-repeat;
}

#remove-itens {
  background-image: url(../../img/trash-alt-solid\ 2.png);
  background-repeat: no-repeat;
}
