

#titulo {
  font-size: 70px;
  height: 100px;
}

#fieldset {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 600px;
  border: 5px solid #000000;
  border-radius: 15px;
}

#all-info {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 10%;
}

#email {
  margin-top: 10%;
  margin-bottom: 10%;
}

#options {
  display: flex;
}

.info {
  display: flex;
  flex-direction: row;
}
.emoji {
  width: 250px;
  height: 50px;
  margin-top: 15%;
  margin-left: 10%;
  cursor: pointer;
}

.name-emoji {
  margin-left: 30%;
  margin-top: 5%;
}

#edit {
  background-image: url(../../img/Vector.png);
  background-repeat: no-repeat;
  color: #ffc700;
}

#remove {
  background-image: url(../../img/trash-alt-solid\ red\ 2.png);
  background-repeat: no-repeat;
  color: #c90000;
}

@media screen and (max-width: 800px) {
  #main{
    
  }
  #main #titulo{
    width: 200px;
    font-size: 2.5em;
    padding-left: 20px;
  }
  #fieldset{
    font-size: 15px;
    flex-direction: column;
    height: 50%;
    width: 20%;
    border: 0px;
  }
  
}