#fundin {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  animation: animate;
  animation-duration: 1s;
}

#name-item {
  width: 600px;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
}

#input-item-desc {
  width: 600px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

#price-item {
  width: 155px;
  margin-top: 5%;
  margin-left: 13%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
}

#price-category {
  display: flex;
  width: 600px;
}

select {
  width: 200px;
  margin-top: 5%;
  margin-left: 16%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
}

#form-item {
  margin-bottom: 20%;
}

#name-desc {
  display: flex;
  flex-direction: column;
}

#btn-form-item {
  width: 100px;
  height: 100px;
  margin-left: 650px;
  background-color: transparent;
  border: 2px solid #19990e;
  border-radius: 40px 40px 40px 40px;
  background-image: url(../../img/Arrow\ 6.png);
  background-repeat: no-repeat;
  background-position: center;
}

#btn-form-item:hover {
  background-color: #19990e10;
}
