.home {
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
  
}

.logo.h1 {
  background-image: url(../../img/Logo_1.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 353px;
}

#slogan {
  font-weight: bold;
  font-size: 20px;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn.Cadastro {
  margin-right: 20px;
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  border: none;
}

.btn.Login {
  background-color: transparent;
  border: none;
  outline: 2px solid #7eddd3;
  color: #7eddd3;
  outline-offset: -3px;
  cursor: pointer;
}

.background_img {
  background-image: url(../../img/Background_1.png);
  background-position: top left;
  z-index: -5;
  margin-top: -100px;
  width: 100vw;
  height: 90vh;
  margin-right:  -400px;
  margin-left:  -200px;
  max-width: 1444px;
  min-width: 1200px;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 2048px) {
  .background_img {
    left: 15%;
  }
}
