.Modal{ 
    background-color: #f6f6f6;
    padding: 0px;
    border-radius: 20px;
    width: 280px;
    position: fixed;
    top : calc(100vh - 200px )
    
}


.Modal h2{
    text-align: center;
}
.Modal p{
    width: fit-content;
    margin-top: 0;
}

.Modal li {
    display: flex; 
    justify-content: space-between;
    margin-right: 40px;
}
