#main {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#final {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#bg-left {
  width: 400px;
  height: 1000px;
  background-color: #32dac8;
  margin-right: 79%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20%;
}

#logo {
  background-image: url(../../img/Logo_1.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

#painel-controle {
  background-image: url(../../img/hammer-solid\ 1.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

#cardapio {
  background-image: url(../../img/bars-solid\ 1.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

#gerar-qrcode {
  background-image: url(../../img/qrcode-solid\ 1.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

#meus-dados {
  background-image: url(../../img/users-cog-solid\ 1.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

#logout {
  background-image: url(../../img/door-open-solid\ 1.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}
