.bg {
  background-image: url(../../img/bg_foods.png);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}
.form-box {
  background-color: #32dac8;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 70%;
  min-height: fit-content;
  border-radius: 20px;
  min-width: 800px;
  max-width: 800px;
  position: absolute;
  top: 15vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 30px;
  width: 50%;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
  width: 50%;
  border-radius: 0px 20px 20px 0px;
  outline: 2px solid #7eddd3;
  outline-offset: -2px;
}

#start-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
input {
  width: 235px;

  padding: 5px;
  height: 25px;
  border-radius: 5px;
  border: none;
}

.erro {
  color: rgb(0, 0, 0);
  margin-top: 1em;
}

.cadastro-form input {
  border: 2px solid gray;
}

.btn {
  margin-top: 20px;
  background-color: transparent;
  font-weight: bold;
}

.login-form .btn {
  color: white;
  border-color: white;
  border-style: solid;
}
.col {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#logotipo {
  background-image: url(../../img/Logo_1.png);
  background-repeat: no-repeat;
  height: 70px;
  width: 360px;
  margin-left: 260%;
}

.bg #logo {
  position: absolute;
  top: 20px;
  left: 65%;
  margin-bottom: 40%;
  z-index: -100;
}

.row {
  display: flex;
}

.cadastro-form .row input {
  width: 111px;
  margin-right: 0px;
}
#voltar {
  display: flex;
  width: 80%;
  min-width: 800px;
  max-width: 800px;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
  padding-top: 100px;
}
.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .cadastro-form.active {
    display: flex;
    width: 100%;
    border-radius: 20px;
  }
  .cadastro-form {
    display: none;
  }
  .login-form.closed {
    display: none;
  }
  .form-box {
    width: 180px;
    justify-content: center;
    min-width: 400px;
  }
  #voltar {
    width: 400px;
    min-width: 400px;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .mobile span {
    font-weight: bold;
    text-decoration: underline;
  }
}

@media screen and (max-width: 400px) {
  .cadastro-form.active {
    display: flex;
    width: 100%;
    border-radius: 0;
  }
  .cadastro-form {
    display: none;
  }
  .login-form.closed {
    display: none;
  }
  .form-box {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    top: 0;
  }
  #logo {
    display: none;
  }
  .bg {
    display: none;
  }
  #voltar {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  .mobile span {
    font-weight: bold;
    text-decoration: underline;
  }
}


@media screen and (max-height: 950px) {
  #voltar{

    padding-top: 10vh;
  }
}