.Modal {
  background-color: #f6f6f6;
  padding: 0px;
  border-radius: 20px;
  width: 280px;
  position: fixed;
  top: calc(100vh - 100px);
  transform: translateY(calc( -100% + 60px)); 
  margin-top: 30px;
  margin-left: -10px;
  transition: ease-in 0.5s;
}

.Modal.modal-active {
 
  transform: translateY(0); 
  
}

.Modal ul{
  margin: 0;
 
}


.Modal h2 {
  text-align: center;
}
.Modal p {
  width: fit-content;
}

.Modal li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px ;
  margin-top: 0;
  margin-bottom: 0;
}

.Modal li:last-of-type{
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn.remove {
  color: red;
  background-color: transparent;
  margin-top: 0;
  border: 0;
}

.box-modal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10%;
  margin: 20px 0 20px 20px;
}

.box-modal h2 {
  margin-left: 18%;
}

.fas.fa-chevron-down {
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.fas.fa-chevron-down.arrow-active {
  transform: rotate(-90deg);
  transition: 0.3s ease-in-out;
}
