.title-category {
  font-size: 60px;
}

.emoji-side {
  background: url(../../img/pencil-alt-solid\ 2.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  width: 600px;
  height: 300px;
  max-height: 300px;
  margin-left: 12%;
  border: 5px solid black;
  justify-content: space-around;
  overflow-y: auto;
}

.category .h2 {
  height: 30px;
  width: 200px;
  font-size: 30px;
}
.category {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 5%;
  width: 100%;
  justify-content: space-between;
}
.category:last-of-type{
  padding-bottom: 20px;
}
.category:first-of-type{
  margin-top: 20px;
}

.categories {
  width: 100%;
}

@media screen and (max-width: 930px) {
  .title-category{
    font-size: 30px;
  }
  .field{
    border: none;
    width: auto;
    height: auto;
    margin: 0;
  }
  .category .h2 {
    height: 30px;
    width: 200px;
    font-size: 20px;
  }
  .categories {
    margin-top: 30px;
  
  }
  .category{
    justify-content: space-around;
  }
}