#x {
  background: url(../../img/x.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 30px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

#title-category {
  font-size: 60px;
}

.emoji-side {
  background: url(../../img/pencil-alt-solid\ 2.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-right: 50px;
}

#emojis {
  display: flex;
  flex-direction: column;
}

#category {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

#field {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  width: 600px;
  height: 400px;
  margin-left: 12%;
  border: 5px solid black;
  justify-content: space-around;
}

.h2 {
  margin-top: 15%;
  height: 30px;
  width: 200px;
  font-size: 30px;
}

#fundin {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  animation: animate;
  animation-duration: 1s;
  position: absolute;
  top:0;
  left: 0;
}

.modal {
  height: 600px;
  width: 800px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: animate;
  animation-duration: 1s;
}

.categories{
  width: 100%;
}

@keyframes animate {
  from {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
