body {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-image: url("./img/Fundo.svg");
  position: relative;

  margin-bottom: 0px;
}

