body{
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-image: url("./img/Fundo.svg");
  
}
a{
  text-decoration: none;
  color: black;
}
#root{
  height: 90vh;
}
.App{
  margin: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

button{
  background-color: #c4c4c400;
  border-radius: 20px;
  border: 1px;
}

h4,h1,h2,h3{
  margin-bottom: 0;
  margin-top: 10px;
}
h6, p,h4.add{
  margin: 0;
}
p{
  margin-top: 5px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

input{
  border: none;
  margin-left: 10px;

}
label{
  margin-left: 5px;
  margin-bottom: 5px;
}
.modal-title{
  margin-bottom: 20px;
  margin-top: 15px;
}

.modal-container{
  opacity: 100;
  pointer-events:visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2e2e2e70;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  height: fit-content;
  width: 225px;
  display: flex;
  flex-direction: column;
  
}

.box{
  width: 225px;
  min-height: fit-content;
  padding: 10px 15px;
  box-shadow: 0px 8px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.box.innerShadow{
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border: 0px solid #0000;
  border-radius: 15px;
}

.modal.box form{
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-around;
  margin-bottom: 20px;
}
.modal.box input{
  margin: 0 auto; 
  width: 80%;
  border: 0px solid darkgray;
}


.title {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid rgba(0, 0, 0, 0.158) ;
  width: 250px;
  text-align: center;
  padding-bottom: 10px;
}
.footer{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 255px;
  bottom: 50px;
  
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image{
  min-width: 64px ;
  min-height: 64px;
  border-radius: 80px;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.addIcon{
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-size: cover;
  background-image: url('./img/plus2.svg')
}

.plus{
  width: 15px;
  height: 15px;
  border: none;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: contain;
  background-image: url('./img/plus.png');
}


.content{
  margin-right: 10px;
  width: 100%;
}

.btnVoltar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  border: 2px solid gray ;
  border-radius: 20px;
  top: 3em;
}

.btnNext{
  width: 32px;
  height: 32px;
  border: 3px solid green ;
  border-radius: 20px;
}
.btnNext i{
  color: green;
  font-size: 18px;
}
.btnCancel {
  color: rgb(204, 19, 19);
  font-size: 32px;
}
.btnAdd{
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #EF271B;
  width: 120px;
  border-radius: 10px;
  padding: 10px;
}

.itemPedido{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.itemPedido span{
  color: red;
  display: flex;
  align-items: center;
}