body{
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-image: url("./img/Fundo.svg");
  
}
.App{
  margin: 20px;
}


h4,h1{
  margin-bottom: 0;
}
p{
  margin-top: 5px;
}

input{
  border: none;
  margin-left: 10px;
}

.box{
  width: 225px;
  min-height: 30px;
  padding: 10px 15px;
  box-shadow: 0px 8px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid rgba(0, 0, 0, 0.158) ;
  width: 250px;
  text-align: center;
  padding-bottom: 10px;
}


.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image{
  min-width: 64px ;
  min-height: 64px;
  border-radius: 80px;
  background-color: #c4c4c4;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.plus{
  width: 15px;
  height: 15px;
  border: none;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: contain;
  background-image: url('./img/plus.png');
}


.content{
  margin-right: 10px;
}