nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-top: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

@media screen and (max-width: 660px) {
    nav{
        width: 600px;
    }
}
